body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0 auto;
  max-width: 900px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  opacity: 0;
  transition: opacity 1s;

  margin-left: 60px;
}

ul {
  margin: 20px 0;
  list-style: none;
  padding: 0;
  text-align: left;
}

footer {
  bottom: 10px;
  position: absolute;
  right: 15px;
}

footer a, h1 a {
  color: #ff0066;
}

.fadein {
  opacity: 1;
}

.allycard, .error {
  display: none;
}

.show {
  display: block;
}

.error {
  color: #ff0000;
}

.accessible {
  left: -999px;
  position: absolute;
}

@media (min-width: 700px) {
  body {
    margin-top: 10%;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 30px;
    line-height: 46px;
  }

  h3 {
    border-top: 1px solid;
    font-size: 24px;
    margin-top: 50px;
    padding-top: 20px;
  }
}
