body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0 auto 20px auto;
  max-width: 900px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #ff0066;
}

a:hover {
  text-decoration: underline;
}

section {
  opacity: 0;
  transition: opacity 1s;
}

ul {
  margin: 20px 0;
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  margin: 10px 0;
}

li:hover input[type="checkbox"] {
  background-color: #ffb2d1;
}

li:hover label {
  text-decoration: underline;
}

label {
  padding-left: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-bottom: 3px solid #ccc;
  vertical-align: bottom;
  transition: all .1s;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked, input[type="checkbox"]:checked:hover {
  background-color: #ff0066;
}

input[type="submit"], button {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  outline: none;
  padding: 15px 40px;
  opacity: .7;
  transition: all .1s;
  -webkit-font-smoothing: antialiased;
}

button {
  color: #3399ff;
  border: 3px solid #3399ff;
}

input[type="submit"] {
  color: #ff0066;
  border: 3px solid #ff0066;
}

input[type="submit"]:hover, button:hover {
  opacity: 1;
}

footer {
  margin-top: 50px;
  text-align: right;
}

.allycard {
  opacity: 0;
  transition: opacity 1s;
}

.fadein {
  opacity: 1;
}

.success, .fail {
  display: none;
}

.show-success .success, .show-fail .fail {
  display: block;
}

.accessible {
  left: -999px;
  position: absolute;
}

.category {
  position: relative;
  margin: 20px;
}

.category:before {
  color: #ccc;
  content: '>';
  font-size: 22px;
  position: absolute;
  top: -2px;
  left: -20px;
}

.category ul {
  margin: 0;
}

.resource {
  margin: 5px 0 5px 40px;
}

.resource:before {
  color: #ccc;
  content: '.';
  font-size: 20px;
  padding-right: 5px;
}

.sep {
  border-top: 5px dashed #ccc;
  margin-top: 50px;
  padding-top: 20px;
}

@media (min-width: 700px) {
  body {
    margin-top: 10%;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 30px;
    line-height: 46px;
  }

  h3 {
    font-size: 24px;
  }

  p, ul, input[type="submit"], button {
    font-size: 18px;
  }

  section {
    margin-left: 60px;
  }
}
