body {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  opacity: 0;
  transition: opacity 1s;
}

ul {
  margin: 20px auto;
  max-width: 500px;
  list-style: none;
  padding: 0;
  text-align: left;
}

footer {
  bottom: 10px;
  position: absolute;
  right: 15px;
}

footer a {
  color: #ff0066;
}

.fadein {
  opacity: 1;
}

.allycard, .error {
  display: none;
}

.show {
  display: block;
}

.error {
  color: #ff0000;
}

@media (min-width: 700px) {
  body {
    margin-top: 150px;
  }

  h1 {
    font-size: 60px;
  }
}
